<div class="container">
    <div class="bg-white">
        <div class="row Poppins-SemiBold text-center text-black eventRegisterAndDetailsDiv">

            <div class="row Poppins-SemiBold text-center text-black"><span style="padding-top: 48px;" class="col-sm-12 fs-20px lh-21px" [style.color]="eventDetails.uiAccentColor">{{eventDetails.eventName}}</span>
            </div>
            <div class="col-sm-12 mt-0px"><span class="SFUI-Display-Light fs-14px text-black text-center">{{eventStartDate | date:'d MMM, y'}}
                       -
                       {{eventEndDate | date:'d MMM, y'}}</span></div>
            <div class="col-sm-12 mt-15px"><span id='timer' class="Poppins-Bold fs-15px text-black text-center">{{timerData}}</span></div>
            <div class="col-sm-12 mt-10px">
                <button type="button" class="btn btnOrangeFrontEnd" data-toggle="modal" (click)="openRegisterPopup()">{{'Register' | translate}}</button>
                <a class="btn btnOrangeFrontEnd ml-10px" (click)="openLoginPopup()">{{'Login' | translate}}</a>
            </div>
        </div>

        <div class="row Poppins-SemiBold text-center text-black">
            <span class="col-sm-12 fs-20px lh-21px" style="padding-top: 48px;" [style.color]="eventDetails.uiAccentColor"> {{'AbouttheEvent' | translate}}</span>
        </div>
        <p class="col-sm-12 Poppins-Regular text-left fs-14px mt-20px  lh-21px" style="padding-left: 10%;padding-right: 10%;word-break: break-all;" [innerHTML]="eventDetails.eventDesc | safeHtml">
        </p>
        <div class="col-sm-12 text-center mt-20px " style="height: 50px;">
            <a *ngIf="eventDetails.eventBrochure" href="{{eventDetails.eventBrochure}}" class="linkBtnOrangeFrontEnd pb-25px">{{'DownloadBroucher' | translate}}</a>
        </div>


        <div *ngIf="booths?.length>0">
            <div class="row Poppins-SemiBold text-center text-black fs-20px mt-25px">
                <span class="col-sm-12 lh-21px"> {{'Booths' | translate}}</span>
                <span class="col-sm-12 Poppins-Regular fs-14px lh-21px">
                    {{'Clickonalogotoviewboothdetails' | translate}}</span>
            </div>
            <div class="row col-sm-12 mt-25px" style="padding-right: 7%;padding-left: 7%;">
                <div *ngFor="let item of booths" class="col-xs-3 text-center">
                    <div style="margin: 15px;">
                        <img [src]="item.boothLogo?item.boothLogo:'https://vemsimageblobstorage.blob.core.windows.net/profileimage/NoImage.png'" height="81" width="81" /><br>
                        <span class="Poppins-Regular fs-14px">{{item.name}}</span>
                    </div>
                </div>

            </div>
            <div *ngIf="booths?.length>10" class="col-sm-12 text-center mt-35px">
                <a class="linkBtnOrangeFrontEnd">{{'ViewAll' | translate}}({{booths?.length+1}})</a>
            </div>

        </div>

        <div *ngIf="attedees?.length>0">
            <div class="row Poppins-SemiBold text-center text-black fs-20px mt-50px">
                <span class="col-sm-12 lh-21px"> {{'Whoisattending' | translate}}</span>
            </div>
            <div class="row col-sm-12 mt-25px" style="padding-right: 7%;padding-left: 7%;">
                <div *ngFor="let item of attedees| slice:0:10;" class="col-xs-3 text-center">
                    <div style="margin: 15px;">
                        <img [src]="item.profileImage?item.profileImage:'https://vemsimageblobstorage.blob.core.windows.net/profileimage/NoImage.png' " height="132" width="132" style="border-radius: 132px;" /><br>
                        <span class="Poppins-Regular fs-14px">{{item.firstName}} {{item.lastName}}</span><br>
                        <i *ngIf="item.linkedInProfileUrl" class="fab fa-linkedin-square fa-2x mr-10px"></i>
                        <i *ngIf="item.facebookProfileUrl" class="fab fa-facebook-square fa-2x"></i>

                    </div>
                </div>


            </div>
            <div *ngIf="attedees?.length>5" style="height: 70px;" class="col-sm-12 text-center mt-35px mb-35px">
                <a class="linkBtnOrangeFrontEnd">{{'ViewAll' | translate}}</a>
            </div>

        </div>

    </div>


    <div style="background-color: #F4F6F8;">
        <div class="row Poppins-SemiBold text-center text-black fs-20px">
            <span class="col-sm-12 mt-10px">{{'EventAgenda' | translate}}</span>
        </div>
        <div class="row mt-25px" style="padding-left: 2%; padding-right: 2%;">
            <div class="col-sm-12 float-left">
                <div class="col-xl-4 col-lg-4 col-sm-6 col-sm-6 col-xs-12 float-left" style="margin-bottom: 10px;">
                    <div class="card">
                        <img class="card-img-top" src="../../../../assets/Images/agenda1.png" alt="Card image cap" style="height: 200px;width: auto;">
                        <div class="card-body">
                            <h5 class="card-title text-lightBlue Poppins-Bold fs-14px" style="line-height: 19px;">
                                20-Jun, 5:30 to 6:30 PM IST</h5>
                            <h5 class="card-title text-lightBlack Poppins-SemiBold fs-14px" style="line-height: 19px;">
                                Reforming education for everyone</h5>


                            <div class="card col-sm-12 float-left" style="border: none;">
                                <div class="row g-0">
                                    <div class="col-sm-2 float-left">
                                        <img src="../../../../assets/Images/agenda1.png" height="50" width="50" class="rounded-circle" />
                                    </div>
                                    <div class="col-sm-9 pl-10px float-left">
                                        <div style="padding-left: 20px;">
                                            <p class="card-text">
                                                <span class="Poppins-Regular fs-14px"> Tsutsui Ichiha</span><br>
                                                <span class="Poppins-SemiBold fs-12px">CEO, Linked In</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1  float-left">
                                        <img src="../../../../assets/Images/bookmark.png" height="24" width="24" />
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-sm-6 col-sm-6 col-xs-12 float-left" style="margin-bottom: 10px;">
                    <div class="card">
                        <img class="card-img-top" src="../../../../assets/Images/agenda2.jpeg" alt="Card image cap" style="height: 200px;width: auto;">
                        <div class="card-body">
                            <h5 class="card-title text-lightBlue Poppins-Bold fs-14px" style="line-height: 19px;">
                                20-Jun, 5:30 to 6:30 PM IST</h5>
                            <h5 class="card-title text-lightBlack Poppins-SemiBold fs-14px" style="line-height: 19px;">
                                Reforming education for everyone</h5>


                            <div class="card col-sm-12 float-left" style="border: none;">
                                <div class="row g-0">
                                    <div class="col-sm-2 float-left">
                                        <img src="../../../../assets/Images/agenda2.jpeg" height="50" width="50" class="rounded-circle" />
                                    </div>
                                    <div class="col-sm-9 float-left">
                                        <div style="padding-left: 20px;">
                                            <p class="card-text">
                                                <span class="Poppins-SemiBold"> Tsutsui Ichiha</span><br>
                                                <span class="Poppins-Regular">CEO, Linked In</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 float-left">
                                        <img src="../../../../assets/Images/bookmark.png" height="24" width="24" />
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-sm-6 col-sm-6 col-xs-12 float-left" style="margin-bottom: 10px;">
                    <div class="card">
                        <img class="card-img-top" src="../../../../assets/Images/Agenda3.jpeg" alt="Card image cap" style="height: 200px;width: auto;">
                        <div class="card-body">
                            <h5 class="card-title text-lightBlue Poppins-Bold fs-14px" style="line-height: 19px;">
                                20-Jun, 5:30 to 6:30 PM IST</h5>
                            <h5 class="card-title text-lightBlack Poppins-SemiBold fs-14px" style="line-height: 19px;">
                                Reforming education for everyone</h5>


                            <div class="card col-sm-12 float-left" style="border: none;">
                                <div class="row g-0">
                                    <div class="col-sm-2 float-left">
                                        <img src="../../../../assets/Images/Agenda3.jpeg" height="50" width="50" class="rounded-circle" />
                                    </div>
                                    <div class="col-sm-9 float-left">
                                        <div style="padding-left: 20px;">
                                            <p class="card-text">
                                                <span class="Poppins-SemiBold"> Tsutsui Ichiha</span><br>
                                                <span class="Poppins-Regular">CEO, Linked In</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 float-left">
                                        <img src="../../../../assets/Images/bookmark.png" height="24" width="24" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
            <div class="col-sm-12 text-center mt-20px mb-20px">
                <a class="linkBtnOrangeFrontEnd">{{'ViewAll' | translate}}</a>

            </div>
        </div>

    </div>

    <div class="bg-white">
        <div>
            <div class="row Poppins-SemiBold text-center text-black fs-20px">
                <span class="col-sm-12 lh-21px pt-50px"> {{'EventSponsors' | translate}}</span>
            </div>
            <div *ngIf="eventSponsors?.length>0" class="row col-sm-12 mt-25px" style="padding-right: 7%;padding-left: 7%;">

                <div *ngFor="let item of eventSponsors" class="col-xs-3 text-center">
                    <div style="margin: 15px;">
                        <img [src]="item.profileImage?item.profileImage:'https://vemsimageblobstorage.blob.core.windows.net/profileimage/NoImage.png'" height="81" width="81" style="border-radius: 81px;" /><br>
                        <span class="Poppins-Regular fs-10px">{{item.orgName}}</span>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 text-center mt-30px">
                <span>{{'Getintouchtobecomeaneventoraboothsponsorandgetfeaturedonwallsandvideoevents' |
                    translate}}</span><br>
                <button type="button" class="btnOrangeFrontEnd mt-10px" data-toggle="modal" data-target="#BecomeSponsorModal" style="width: 250px; border-radius: 5px; height: 35px;text-transform: none;">
                    {{'BecomeaSponsor' | translate}}</button>
            </div>
        </div>





        <div class="col-sm-12 text-center mt-30px" style="max-height: 400px;padding-top: 25px;">
            <div class="col-sm-12">
                <img [ngStyle]="(eventDetails.eventLogo!==noImageEventLogoPath && eventDetails.eventLogo) ? {'visibility':'visible'}:{'visibility':'hidden'}" src="{{eventDetails.eventLogo}}" style="width: 225px;height: auto;" />


            </div>
            <div class="col-sm-12  Popins-Regular fs-10x " style="padding-top:30px">
                <a class="privacyPolicyDiv" *ngIf="eventDetails.isLinkPrivacyPolicy" href="{{eventDetails.PrivacyPolicy}}" target="_blank"> {{'PrivacyPolicy' | translate}}</a>
                <a class="privacyPolicyDiv" *ngIf="!eventDetails.isLinkPrivacyPolicy" data-toggle="modal" data-target="#privacyPolicymodal">
                    {{'PrivacyPolicy' | translate}}</a>

                <a *ngIf="eventDetails.isLinkTermsAndConditions" href="{{eventDetails.termsAndConditions}}" target="_blank">
                    {{'TermsAndConditions' | translate}}</a>
                <a *ngIf="!eventDetails.isLinkTermsAndConditions" data-toggle="modal" data-target="#termsAndConditionsModal">
                    {{'TermsAndConditions' | translate}}</a>
            </div>
            <div class="col-sm-12 text-center" style="padding-top:30px">


                <a *ngFor="let item of eventSocialMedia" href="{{item.Value}}" target="_blank"> <img style="width: 48px;height: auto;margin: 10px;" src="assets/Images/{{item.SocialMedia}}_social.png"></a>


            </div>
        </div>
    </div>

</div>




<!-- Modal for Become Sponsor-->
<div class="modal fade" id="BecomeSponsorModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'BecomeaSponsor'|translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div class="text-center pageHeader">
                <i class="fa fa-times" type="button" data-dismiss="modal" style="cursor:pointer;float:right;"></i>
                <div class="text-center" style="margin-top: 20px;">{{'BecomeaSponsor'|translate}}</div>
            </div> -->

                <form class="needs-validation h-100" enctype="multipart/form-data" #sponsorForm="ngForm">
                    <div class="mb-1 row">

                        <div class="col-sm-12">
                            <label for="FirstName" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;">{{'Name' | translate}} </label>
                            <input type="text" ng-dirty pattern="[a-zA-Z0-9 ]*" name="FirstName" #FirstName="ngModel" [(ngModel)]="sponsorInput.firstName" class="form-control Poppins-Regular" placeholder="{{'EnterFirstName' | translate}}" required maxlength="50">

                        </div>
                    </div>

                    <!-- <div class="mb-1 row">
                    <div class="col-sm-12">
                        <label for="LastName" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;"> {{'LastName' | translate}} </label>

                        <input type="text" pattern="[a-zA-Z0-9 ]*" name="LastName" #LastName="ngModel" [(ngModel)]="sponsorInput.lastName" class="form-control Poppins-Regular" placeholder="{{'EnterLastName' | translate}}" required maxlength="50">
                    </div>
                </div> -->



                    <div class="mb-1 row">
                        <label for="OrgName" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;">{{'OrganizationName' | translate}} </label>
                        <div class="col-sm-12">
                            <input type="text" name="OrgName" #OrgName="ngModel" [(ngModel)]="sponsorInput.orgName" class="form-control Poppins-Regular" placeholder="{{'EnterOrganizationName' | translate}}" required maxlength="100">
                            <span *ngIf="OrgName.invalid && OrgName.touched" class="error">{{'Organizationnamerequired'|
                                translate}}
                            </span>
                        </div>
                    </div>

                    <!-- <div class="mb-1 row">

                    <div class="col-sm-12">
                        <label for="OrgWebsite" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;">{{'OrganizationWebsite' | translate}}
                        </label>
                        <input type="text" name="OrgWebsite" #OrgWebsite="ngModel" [(ngModel)]="sponsorInput.orgWebsite" class="form-control Poppins-Regular" placeholder="{{'EnterOrganizationWebsite' | translate}}" maxlength="100">
                    </div>
                </div> -->

                    <div class="mb-1 row">
                        <div class="col-sm-12">
                            <label for="Email" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;">{{'Email' | translate}} </label>

                            <input type="email" name="Email" #Email="ngModel" [(ngModel)]="sponsorInput.emailAddress" maxlength="70" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control Poppins-Regular" placeholder="{{'EnterEmail' | translate}}" required>
                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="MobileNo" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;"> {{'ContactNumber' | translate}} </label>
                        <div class="col-sm-12">
                            <select [(ngModel)]="sponsorInput.countryCode" name="countryCode" #countryCode="ngModel" class="form-select float-left col-sm-4 mr-35px" required>
                                <option value="">{{'SelectCountryCode' | translate}}</option>
                                <option *ngFor="let item of countryList" value="{{item.phonecode}}">{{item.name+'
                                    (+'+item.phonecode+')'}}</option>
                            </select>
                            <input type="text" pattern="\d*" #MobileNo1="ngModel" [(ngModel)]="sponsorInput.mobileNo1" name="mobileNo1" class="form-control Poppins-Regular col-sm-7" placeholder="{{'EnterContactNumber' | translate}}" required maxlength="10">


                            <!-- <input type="text" pattern="\d*" name="MobileNo" #MobileNo="ngModel" [(ngModel)]="sponsorInput.mobileNo" mask="+00 (000) 000-0000" class="form-control Poppins-Regular" placeholder="{{'EnterContactNumber' | translate}}" required maxlength="18">
                        <span *ngIf="MobileNo.invalid && MobileNo.touched" class="error">{{'ContactNumberrequired'| translate}}
                        </span> -->

                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="SponsorshipItem" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;"> {{'SponsorshipItem' | translate}} </label>
                        <div class="col-sm-12">
                            <select class="form-select Poppins-Regular" name="SponsorshipItem" #SponsorshipItem="ngModel" [(ngModel)]="sponsorInput.sponsorshipItem" required>
                                <option value="">{{'PleaseSelect' | translate}}</option>
                                <option value="BoothSpace">{{'BoothSpace' | translate}}</option>
                                <option value="area space">{{'AreaSpace' | translate}}</option>
                                <option value="just a logo display in primary room">
                                    {{'JustALogoDisplayInPrimaryRoom' | translate}}
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="mb-1 row">
                        <label for="WhyDoYouWantASponsor" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;"> {{'WhyDoYouWantASponsor' | translate}}
                        </label>
                        <div class="col-sm-12">
                            <textarea class="form-control Poppins-Regular" maxlength="200" rows="2" cols="20" name="WhyDoYouWantASponsor" #WhyDoYouWantASponsor="ngModel" [(ngModel)]="sponsorInput.whyDoYouWantASponsor"></textarea>

                        </div>
                    </div>


                    <div class="mb-1 row">

                        <div class="col-sm-12">
                            <label for="inputEmail3" class="col-form-label fs-12px Poppins-Regular" style="margin-bottom: -5px;margin-left: 5px;"> {{'ProfilePicture' | translate}}
                            </label>
                            <div *ngIf='isProfileImageAvailable'>

                                <div *ngIf="isProfileImageAvailable">
                                    <img src='{{sponsorInput.profileImage}}' style="width:200px;height:auto" />
                                    <i class="fa fa-times" (click)="deleteImage()" tooltip="{{'Delete' | translate}}" style="cursor: pointer;vertical-align: top;margin-left:10px"></i>
                                </div>

                            </div>
                            <div>
                                <input type="file" *ngIf="!isProfileImageAvailable" #FileUploadControl style="visibility:visible" (change)="onFileChange($event)" />
                                <br><span *ngIf="!isProfileImageAvailable" class="fs-10px Poppins-Regular">{{'MaxSizeTwoHunderd' | translate}}</span>
                            </div>
                            <!-- <a (click)="FileUploadControl.click()" *ngIf="!isProfileImageAvailable">
                                <div class="text-center form-control" style="height:144px;width:144px;background-color:white; border-radius:4px;">
                                    <label class="form-lable text-black Poppins-Regular" style="font-size: 12px;font-weight: 400;text-decoration-color:#0C0C0D;margin-top:40px;">{{'ClickToUploadFile' | translate}}
                                </label>
                                </div>
                                <input id="FileUploadControl" name="FileUploadControl" type="file" style="display: none;" />
                            </a> -->

                        </div>
                    </div>



                    <!-- <div class="mb-1 row">
                    <div class="col-sm-12">
                        
                    </div>
                </div> -->
                </form>
            </div>
            <div class="modal-footer">

                <button type="submit" data-dismiss="modal" (click)="addSponsor()" [disabled]="sponsorForm.invalid" class="commonbtn btn btn-primary col-sm-5 Poppins-SemiBold">{{'Save' | translate}} </button>
                <button type="button" class="commonbtn btn  btn-primary  text-white  Poppins-SemiBold" style="margin-left: 20px;" data-dismiss="modal" (click)="backToMainPage()">
                    {{'Cancel' | translate}}
                </button>

            </div>

        </div>
    </div>
</div>