<div class="modal-dialog modal-lg" role="document" style="margin-top: 0px !important;margin-bottom: 0px !important;">
    <div class="modal-content">
        <form class="form-group" #LinkToSocialMediaForm="ngForm">
            <div class="modal-header">
                <h5 class="modal-title">{{'LinkToSocialMedia'|translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div *ngFor="let item of linkSocialMedia; let i=index">
                    <div class="form-group row">
                        <div class="col-sm-1">
                            <label class="form-lable Poppins-Regular " style="margin-top:5px;margin-right:10px">{{'Name'|
                                translate}}</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="item_name_{{i}}" id="item_name_{{i}}" [(ngModel)]="item.name" required class="form-control Poppins-Regular" value="" maxlength="30" />
                        </div>
                        <div class="col-sm-1">
                            <label class="form-lable  Poppins-Regular" style="margin-top:5px;margin-right:10px">{{'Link'|
                                translate}}</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="item_link_{{i}}" id="item_link_{{i}}" [(ngModel)]="item.url" required pattern="https?://.+" placeholder="{{'SocialMediaURL' | translate}}" class="form-control  Poppins-Regular" value="" maxlength="120" />
                        </div>
                        <!-- <div class="col-sm-1">
                            <i class="fa fa-trash" (click)="deleteElement(i)"></i>
                        </div> -->

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary commonbtn Poppins-Regular" [disabled]="LinkToSocialMediaForm.invalid" (click)="saveLinkToSocialMedia()">{{'Save' |
                        translate}}</button>
                    <button type="button" class="btn btn-primary  commonbtn ml-10px text-white Poppins-Regular" (click)="closeModal()">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>