 
  .validField {  border-left:5px solid green;border-radius: 8px; display: block;  }
  .invalidField {  border-left:5px solid red;border-radius: 8px; display: block;  }
  
  ::ng-deep .multiselect-dropdown .dropdown-btn {width: -webkit-fill-available !important}
  ::ng-deep .multiselect-dropdown .dropdown-btn:focus {outline: none !important}

  select#timeZone.ng-invalid
{
    border-left:5px solid red;
    border-radius:8px;
}

select#timeZone.ng-valid
{
    border-left:5px solid green;
    border-radius:8px;
}

select#clients.ng-invalid
{
    border-left:5px solid red;
    border-radius:8px;
}

select#clients.ng-valid
{
    border-left:5px solid green;
    border-radius:8px;
}

