<!-- <div class="form-control text-center">
    <label class="text-black Poppins-SemiBold pageHeader d-flex align-items-center"
        style="font-size: 20px;font-weight: 600;text-decoration-color:#0C0C0D; height: 100%;">Create New Event</label>

</div> -->

<div class="bg-white">
    <div class="text-center pageHeader  list-group-item d-flex align-items-center" style="border:none;">
        <label>{{'CreateNewEvent'| translate}}</label>
    </div>
</div>

<form method="Post" class="form-group" #AddEventForm="ngForm">
    <div class="Poppins-Regular text-danger text-center">
        <ul class="list-style-none">

            <li *ngFor="let error of inputEventModel.errors">
                <p> {{error}} </p>
            </li>
        </ul>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventName">{{'ClientName' | translate}}</label>
        <div class="col-sm-10">
            <select id="clients" required #clients="ngModel" name="clients" class="form-select" [(ngModel)]="inputEventModel.clientId">
                <option value="">{{'SelectClient' | translate}}</option>
                <option *ngFor="let item of allClients" value="{{item.clientId}}">{{item.firstName}} {{item.lastName}}
                </option>
            </select>
            <span *ngIf="clients.invalid && clients.touched" class="error">{{'ClientNamerequired'| translate}}</span>

        </div>
    </div>





    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventName">{{'EventName' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'EventName' | translate}}" required #EventName="ngModel" [(ngModel)]="inputEventModel.eventName" name="EventName" value="" maxlength="120" (blur)="getEventUrl($event);">
            <span *ngIf="EventName.invalid && EventName.touched" class="error">{{'EventNamerequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventUrl">{{'EventURL' | translate}}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'EventURL' | translate}}" required (blur)="checkValidEventUrl($event.target.value);" #EventUrl="ngModel" [(ngModel)]="inputEventModel.eventUrl" name="EventUrl" value="">
            <span *ngIf="EventUrl.invalid && EventUrl.touched" class="error">{{'EventUrlrequired'| translate}}</span>

        </div>
        <div class="col-sm-4">
            <span>{{eventUrl}}</span>
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventDesc">{{'EventDescription' | translate}}</label>
        <div class="col-sm-10">
            <textarea class="form-control Poppins-Regular" placeholder="{{'EventDescription' | translate}}" #EventDesc="ngModel" [(ngModel)]="inputEventModel.eventDesc" name="EventDesc"></textarea>

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventStartDate">{{'StartDate' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.eventStartDate" #EventStartDate="ngModel" required="" [(ngModel)]="inputEventModel.eventStartDate" name="EventStartDate" (ngModelChange)="validateEventDates()"></app-date-picker>
            </div>
            <span *ngIf="EventStartDate.invalid && EventStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventEndDate">{{'EndDate' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.eventEndDate" #EventEndDate="ngModel" required="" name="EventEndDate" (ngModelChange)="validateEventDates()"> </app-date-picker>
            </div>
            <span *ngIf="EventEndDate.invalid && EventEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>



    <!-- <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventStartDate">{{'StartDate' | translate}} </label>
        <div class="col-sm-10">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.eventStartDate" #EventStartDate="ngModel" required=""
                    [(ngModel)]="inputEventModel.eventStartDate" name="EventStartDate"
                    (ngModelChange)="validateEventDates()"></app-date-picker>
            </div>
            <span *ngIf="EventStartDate.invalid && EventStartDate.touched"
                class="error">{{'StartDaterequired'| translate}}</span>
        </div>
    </div> -->


    <!-- <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventEndDate">{{'EndDate' | translate}} </label>
        <div class="col-sm-10">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.eventEndDate" #EventEndDate="ngModel" required=""
                    name="EventEndDate" (ngModelChange)="validateEventDates()"> </app-date-picker>
            </div>
            <span *ngIf="EventEndDate.invalid && EventEndDate.touched"
                class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>
    </div> -->



    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventStartTime">{{'StartTime' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #EventStartTime="ngModel" [(ngModel)]="inputEventModel.eventStartTime" name="EventStartTime" required="" value="" name="EventStartTime" (ngModelChange)="validateEventTime()">
                </app-time-picker>
            </div>
            <span *ngIf="EventStartTime.invalid && EventStartTime.touched" class="error">{{'StartTimerequired'| translate}}</span>

        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventEndTime">{{'EndTime'| translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #EventEndTime="ngModel" type="text" [(ngModel)]="inputEventModel.eventEndTime" required="" value="" name="EventEndTime" (ngModelChange)="validateEventTime()">
                </app-time-picker>
            </div>

            <span *ngIf="EventEndTime.invalid && EventEndTime.touched" class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvalidTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>



    </div>


    <!-- <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventEndTime">{{'EndTime'| translate}} </label>
        <div class="col-sm-10">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #EventEndTime="ngModel" type="text" class="Poppins-Regular"
                    [(ngModel)]="inputEventModel.eventEndTime" required="" value="" name="EventEndTime"
                    (ngModelChange)="validateEventTime()">
                </app-time-picker>
            </div>

            <span *ngIf="EventEndTime.invalid && EventEndTime.touched"
                class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvalidTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>
    </div> -->

    <div class="mb-3 row">
        <label class="col-sm-6 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'OpenRegistration' | translate}}</label>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="RegistrationStartDate">{{'StartDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.regStartDate" #RegStartDate="ngModel" required="" [(ngModel)]="inputEventModel.registrationStartDate" name="RegStartDate" (ngModelChange)="validateRegistrationDates()"></app-date-picker>
            </div>
            <span *ngIf="RegStartDate.invalid && RegStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="RegistrationEndDate">{{'EndDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.registrationEndDate" #RegEndDate="ngModel" required="" name="RegEndDate" (ngModelChange)="validateRegistrationDates()"> </app-date-picker>
            </div>
            <span *ngIf="RegEndDate.invalid && RegEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidOpenRegistrationDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="RegistrationStartTime">{{'StartTime' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #RegStartTime="ngModel" [(ngModel)]="inputEventModel.registrationStartTime" name="RegStartTime" required="" value="" name="RegStartTime" (ngModelChange)="validateRegistrationTime()">
                </app-time-picker>
            </div>
            <span *ngIf="RegStartTime.invalid && RegStartTime.touched" class="error">{{'StartTimerequired'| translate}}</span>

        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="RegistrationEndTime">{{'EndTime'| translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #RegEndTime="ngModel" type="text" [(ngModel)]="inputEventModel.registrationEndTime" required="" value="" name="RegEndTime" (ngModelChange)="validateRegistrationTime()">
                </app-time-picker>
            </div>

            <span *ngIf="RegEndTime.invalid && RegEndTime.touched" class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvalidOpenRegistrationTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-sm-6 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'Previewdate' | translate}}</label>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="PreviewStartDate">{{'StartDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.previewStartDate" #PreviewStartDate="ngModel" required="" [(ngModel)]="inputEventModel.previewStartDate" name="PreviewStartDate" (ngModelChange)="validatePreviewDates()"></app-date-picker>
            </div>
            <span *ngIf="PreviewStartDate.invalid && PreviewStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="PreviewEndDate">{{'EndDate' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.previewEndDate" #PreviewEndDate="ngModel" required="" name="PreviewEndDate" (ngModelChange)="validatePreviewDates()"> </app-date-picker>
            </div>
            <span *ngIf="PreviewEndDate.invalid && PreviewEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidPreviewDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="PreviewStartTime">{{'StartTime' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #PreviewStartTime="ngModel" [(ngModel)]="inputEventModel.previewStartTime" name="PreviewStartTime" required="" value="" name="PreviewStartTime" (ngModelChange)="validatePreviewTime()">
                </app-time-picker>
            </div>
            <span *ngIf="PreviewStartTime.invalid && PreviewStartTime.touched" class="error">{{'StartTimerequired'| translate}}</span>

        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="PreviewEndTime">{{'EndTime'| translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #PreviewEndTime="ngModel" type="text" [(ngModel)]="inputEventModel.previewEndTime" required="" value="" name="PreviewEndTime" (ngModelChange)="validatePreviewTime()">
                </app-time-picker>
            </div>

            <span *ngIf="PreviewEndTime.invalid && PreviewEndTime.touched" class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvalidPreviewTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-6 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'AftereventAccess' | translate}}</label>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="AftereventStartDate">{{'StartDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.afterEventAccessStartDate" #AftereventStartDate="ngModel" required="" [(ngModel)]="inputEventModel.afterEventAccessStartDate" name="AftereventStartDate" (ngModelChange)="validateAftereventDates()"></app-date-picker>
            </div>
            <span *ngIf="AftereventStartDate.invalid && AftereventStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="AfterEventAccessEndDate">{{'EndDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.afterEventAccessEndDate" #AftereventEndDate="ngModel" required="" name="AftereventEndDate" (ngModelChange)="validateAftereventDates()"> </app-date-picker>
            </div>
            <span *ngIf="AftereventEndDate.invalid && AftereventEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidAfterEventAccessDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="AfterEventAccessStartTime">{{'StartTime' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #AftereventStartTime="ngModel" [(ngModel)]="inputEventModel.afterEventAccessStartTime" name="AftereventStartTime" required="" value="" name="AftereventStartTime" (ngModelChange)="validateAftereventTime()">
                </app-time-picker>
            </div>
            <span *ngIf="AftereventStartTime.invalid && AftereventStartTime.touched" class="error">{{'StartTimerequired'| translate}}</span>

        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="AfterEventEndTime">{{'EndTime'| translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #AfterEventEndTime="ngModel" type="text" [(ngModel)]="inputEventModel.afterEventAccessEndTime" required="" value="" name="AfterEventEndTime" (ngModelChange)="validateAftereventTime()">
                </app-time-picker>
            </div>

            <span *ngIf="AfterEventEndTime.invalid && AfterEventEndTime.touched" class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvaildAfterEventAccessTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>
    </div>









    <div class="mb-3 row">
        <label class="col-sm-6 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'Reportaccess' | translate}}</label>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="RepaccessStartDate">{{'StartDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.reportAccessStartDate" #RepaccessStartDate="ngModel" required="" [(ngModel)]="inputEventModel.reportAccessStartDate" name="RepaccessStartDate" (ngModelChange)="validateRepaccessDates()"></app-date-picker>
            </div>
            <span *ngIf="RepaccessStartDate.invalid && RepaccessStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="RepaccessEndDate">{{'EndDate' | translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputEventModel.reportAccessEndDate" #RepaccessEndDate="ngModel" required="" name="RepaccessEndDate" (ngModelChange)="validateRepaccessDates()"> </app-date-picker>
            </div>
            <span *ngIf="RepaccessEndDate.invalid && RepaccessEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidReportAccessDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="RepaccessStartTime">{{'StartTime' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #RepaccessStartTime="ngModel" [(ngModel)]="inputEventModel.reportAccessStartTime" name="RepaccessStartTime" required="" value="" name="|RepaccessStartTime" (ngModelChange)="validateRepaccessTime()">
                </app-time-picker>
            </div>
            <span *ngIf="RepaccessStartTime.invalid && RepaccessStartTime.touched" class="error">{{'StartTimerequired'| translate}}</span>

        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="RepaccessEndTime">{{'EndTime'| translate}} </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-time-picker #RepaccessEndTime="ngModel" type="text" [(ngModel)]="inputEventModel.reportAccessEndTime" required="" value="" name="RepaccessEndTime" (ngModelChange)="validateRepaccessTime()">
                </app-time-picker>
            </div>

            <span *ngIf="RepaccessEndTime.invalid && RepaccessEndTime.touched" class="error">{{'EndTimerequired'| translate}}</span>
            <span *ngIf="InvaildReportAccessTime" class="error">
                {{'startTimeGreaterThanEndTime'| translate}}
            </span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="TimeZone">{{'TimeZone'| translate}}</label>
        <div class="col-sm-10">
            <select id="timeZone" required [(ngModel)]="inputEventModel.timeZone" name="timeZone" class="form-select" #timeZone="ngModel">
                <option value="">Select time zone</option>
                <option *ngFor="let item of allTimezones" value="{{item.timeZoneId}}">{{item.timeZoneName}}
                    ({{item.offset}})</option>

            </select>
            <span *ngIf="timeZone.invalid && timeZone.touched" class="error">{{'TimeZonerequired'| translate}}</span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="Language">{{'Language'| translate}}</label>
        <div class="col-sm-10">
            <ng-multiselect-dropdown name="Language" #Language [placeholder]="" [settings]="dropdownSettings" [placeholder]="'SelectLanguage'| translate" style="background-color: #fff;" [data]="languageDropdownList" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" [ngClass]='setClass()'>
            </ng-multiselect-dropdown>

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular">{{'EventImage' | translate}}</label>
        <div class="col-sm-10">
            <span id="spnImageErrorMessage" class="text-danger"></span>
            <input id="fileupload" type="file" (change)="onFileChange($event)" name="EventImage">
            <img src="{{inputEventModel.eventLogo}}" id="UploadedEventImage" *ngIf="inputEventModel.eventLogo" height="100" width="200">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular">{{'EventBrochure' | translate}}</label>
        <div class="col-sm-10">
            <span id="spnImageErrorMessage" class="text-danger"></span>
            <input id="fileupload" type="file" (change)="oneventBrochureFileChange($event)" name="eventBrochure">
            <a *ngIf="inputEventModel.eventBrochure" href="{{inputEventModel.eventBrochure}}" class="form-link" target="_blank">{{'EventBrochureFile' | translate}}</a>
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular">{{'SocialMedia' | translate}}</label>
        <div class="col-sm-10">
            <a class="form-link" (click)='addSocialMediaAccount()'> {{'ADD' | translate}}</a>
            <div *ngIf="socialMediaAccount">
                <div *ngFor="let item of socialMediaAccount" style="margin-top: 15px;;">
                    <select id="{{item.index}}" name="{{item.index}}" [(ngModel)]="item.socialMedia" class="form-select col-sm-3" style="float: left; margin-right:20px;" (change)='checkSocialMediaIsCustomSelected(item)'>
                        <option value='facebook'>{{'Facebook'|translate}}</option>
                        <option value='Instagram'>{{'Instagram'|translate}}</option>
                        <option value='linkedIn'>{{'Linked In'|translate}}</option>
                        <option value='twitter'>{{'Twitter'|translate}}</option>
                        <option value='Website'>{{'Website'|translate}}</option>
                        <option value='Youtube'>{{'Youtube'|translate}}</option>
                        <option value='custom'>{{'Custom'|translate}}</option>

                    </select>
                    <input type="text" *ngIf="item.isCustom" name="{{item.index}}_isCustom" [(ngModel)]="item.customSocialMedia" class="form-control Poppins-Regular  col-sm-3" style="float: left;margin-left: 20px;" placeholder="{{'SocialMediaName' | translate}}" required
                        #CustomSocialMediaName name="CustomSocialMediaName" value="{{item.customSocialMedia}}">

                    <input type="url" name="{{item.index}}_value" [(ngModel)]="item.value" class="form-control Poppins-Regular  col-sm-3" style="float: left;margin-left: 20px;" placeholder="{{'SocialMediaURL' | translate}}" required #SocialMediaURL name="SocialMediaURL"
                        value="{{item.value}}">
                    <a class="col-sm-2" style="vertical-align: -webkit-baseline-middle;" (click)="deleteSocialMediaItem(item)"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>




    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventNumberofRooms">{{'NumberofRooms' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'NumberofRooms' | translate}}" required #NumberofRooms="ngModel" [(ngModel)]="inputEventModel.noOfRooms" name="NumberofRooms" value="">
            <span *ngIf="NumberofRooms.invalid && NumberofRooms.touched" class="error">{{'NumberofRoomsrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventNumberofBooths">{{'NumberofBooths' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'NumberofBooths' | translate}}" required #NumberofBooths="ngModel" [(ngModel)]="inputEventModel.noOfBooths" name="NumberofBooths" value="">
            <span *ngIf="NumberofBooths.invalid && NumberofBooths.touched" class="error">{{'NumberofBoothsrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventconcurrentUser">{{'NumberofconcurrentUser' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'NumberofconcurrentUser' | translate}}" required #EventconcurrentUser="ngModel" [(ngModel)]="inputEventModel.noOfCuncurrentUser" name="EventconcurrentUser" value="" maxlength="4">
            <span *ngIf="EventconcurrentUser.invalid && EventconcurrentUser.touched" class="error">{{'NumberofconcurrentUserrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventBuffer">{{'Buffer'| translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'Buffer'| translate}}" required #Buffer="ngModel" [(ngModel)]="inputEventModel.buffer" name="Buffer" value="">
            <span *ngIf="Buffer.invalid && Buffer.touched" class="error">{{'Bufferrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="Webcast">{{'Webcast'|translate}}</label>
        <div class="col-sm-10">
            <input type="checkbox" style="vertical-align:bottom" data-val="true" (change)="ifWebcastEnabled($event)" data-val-required="The Webcast field is required." id="WebcastEnabled" name="WebcastEnabled" value="true">
        </div>
    </div>

    <div class="mb-3 row" *ngIf="isWCEnabled">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="NumberofWebcast">{{'NumberofWebcast' | translate}}</label>
        <div class="col-sm-10" *ngIf="isWCEnabled">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'NumberofWebcast' | translate}}" required #NumberofWebcast="ngModel" [(ngModel)]="inputEventModel.noOfWebcast " name="Webcast" value="" style="margin-top:10px">
            <span *ngIf="NumberofWebcast.invalid && NumberofWebcast.touched" class="error">{{'NumberofWebcastrequired'| translate}}</span>
        </div>
    </div>



    <div class="mb-3 row" *ngIf="isWCEnabled">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="WebcastMaxduration">{{'WebcastMaxduration' | translate}}</label>
        <div class="col-sm-10">
            <input type="number" class="form-control Poppins-Regular" placeholder="{{'WebcastMaxduration' | translate}}" required #WebcastMaxduration="ngModel" [(ngModel)]="inputEventModel.webcastMaxDuration " name="WebcastMaxduration" value="">
            <span *ngIf="WebcastMaxduration.invalid && WebcastMaxduration.touched" class="error">{{'WebcastMaxdurationrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-6 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'Optiontochoosehowtheeventroomsscreensareshown' | translate}}</label>
        <div class="col-sm-2 Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOption2DRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #2D (change)="getRoomShowOption($event,'2D')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="2D">{{'2D'|translate}}</label>
            </div>

        </div>

        <div class="col-sm-2 Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOption3DRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #3D (change)="getRoomShowOption($event,'3D')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="3D">{{'3D'|translate}}
                </label></div>
        </div>

        <div class="col-sm-2  Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOptionBothRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #Both (change)="getRoomShowOption($event,'Both')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="Both">{{'Both'|translate}}</label>
            </div>
        </div>

    </div>

    <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="SetupUiColour">{{'SetupUiColour'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputEventModel.uIColor" [style.background]="inputEventModel.uIColor" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="UIAccentColor">{{'UIAccentColor'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputEventModel.uIAccentColor" [style.background]="inputEventModel.uIAccentColor" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="HeaderBackgroundColor">{{'HeaderBackgroundColor'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputEventModel.headerBackgroundColor" [style.background]="inputEventModel.headerBackgroundColor" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="HeaderTextColor">{{'HeaderTextColor'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputEventModel.headerTextColor" [style.background]="inputEventModel.headerTextColor" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="SectionHeaderTextColor">{{'SectionHeaderTextColor'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputEventModel.sectionHeaderTextColor" [style.background]="inputEventModel.sectionHeaderTextColor" />
        </div>
    </div>





    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="MetaTags">{{'SeoMetaTags' | translate}}</label>
        <div class="col-sm-10">
            <textarea style="height:150px;" class="form-control Poppins-Regular" placeholder="{{'SeoMetaTags' | translate}}" #MetaTags="ngModel" [(ngModel)]="inputEventModel.metaTags" name="MetaTags"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="GAEnabled">{{'GAScript' | translate}}</label>
        <div class="col-sm-10">
            <input type="checkbox" style="vertical-align:bottom" data-val="true" (change)="ifGAEnabled($event)" data-val-required="The GAEnabled field is required." id="GAEnabled" name="GAEnabled" value="true">
            <textarea *ngIf="isGAEnabled" class="form-control Poppins-Regular" style="margin-top:10px" placeholder="{{'GAScript' | translate}}" #GAScript="ngModel" [(ngModel)]="inputEventModel.gAScript" name="GAScript"></textarea>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="ThirdPartyAnalyticsEnabled">{{'ThirdPartyAnalyticsScript' | translate}}</label>
        <div class="col-sm-10">
            <input type="checkbox" style="vertical-align:bottom" (change)="ifThirdPartyAnalyticsEnabled($event)" data-val="true" data-val-required="The ThirdPartyAnalyticsEnabled field is required." id="ThirdPartyAnalyticsEnabled" name="ThirdPartyAnalyticsEnabled"
                value="true">
            <textarea *ngIf="isThirdPartyAnalyticsEnabled" class="form-control Poppins-Regular" style="margin-top:10px" placeholder="{{'ThirdPartyAnalyticsScript' | translate}}" #ThirdPartyAnalyticsScript="ngModel" [(ngModel)]="inputEventModel.thirdPartyAnalyticsScript"
                name="ThirdPartyAnalyticsScript"></textarea>

        </div>
    </div>

    <div class="mb-3 row" *ngIf="inputEventModel.enableEditRegistrationInfoAllowed">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EnableEditRegistrationInfo">{{'EnableEditRegistrationInfo' | translate}}</label>
        <div class="col-sm-10">
            <input type="checkbox" style="vertical-align:bottom" (change)="EnableEditRegistrationInfo($event)" data-val="true" id="EnableEditRegistrationInfo" name="EnableEditRegistrationInfo" value="true">


        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="TermsAndConditions">{{'EventTermAndCondition' | translate}} </label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="EventTermAndConditionLinkRadio" checked="" (change)="showHideTAndCControls($event,'AddLink')" name="IsLinkTermsAndConditions">
                <label class="form-check-label" for="EventTermAndConditionLinkRadio">{{'AddLink' | translate}}</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="EventTermAndConditionManuallyRadio" (change)="showHideTAndCControls($event,'AddManually')" name="IsLinkTermsAndConditions">
                <label class="form-check-label" for="EventTermAndConditionManuallyRadio">{{'AddManually' | translate}}</label>
            </div>
            <input *ngIf="isTermsAndConditionsAddLinkSelected" type="text" class="mt-2 form-control Poppins-Regular" placeholder="{{'EventTermAndCondition' | translate}}" #EventTermAndCondition="ngModel" name="EventTermAndCondition" [(ngModel)]="inputEventModel.termsAndConditions">
            <div *ngIf="!isTermsAndConditionsAddLinkSelected">
                <div class="NgxEditor__Wrapper">
                    <ckeditor [config]="config" [(data)]="inputEventModel.termsAndConditions"></ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="PrivacyPolicy">{{'EventPrivacyPolicy' | translate}}</label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="EventPrivacyPolicyLinkRadio" checked="" (change)="showHideEventPrivacyPolicyControls($event,'AddLink')" name="IsLinkEventPrivacyPolicy">
                <label class="form-check-label" for="EventPrivacyPolicyLinkRadio">{{'AddLink' | translate}}</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="EventPrivacyPolicyManuallyRadio" (change)="showHideEventPrivacyPolicyControls($event,'AddManually')" name="IsLinkEventPrivacyPolicy">
                <label class="form-check-label" for="EventPrivacyPolicyManuallyRadio">{{'AddManually' | translate}}</label>
            </div>
            <input *ngIf="isPrivacyPolicyAddLinkSelected" type="text" class="mt-2 form-control Poppins-Regular" name="PrivacyPolicyInput" #PrivacyPolicyInput="ngModel" [(ngModel)]="inputEventModel.privacyPolicy" placeholder="{{'EventPrivacyPolicy' | translate}}">
            <div *ngIf="!isPrivacyPolicyAddLinkSelected">
                <div class="NgxEditor__Wrapper">
                    <ckeditor [config]="config" [(data)]="inputEventModel.privacyPolicy"></ckeditor>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 row" id="ThirdPartyAnalyticsScripts">

        <div class="col-sm-12 text-muted Poppins-Regular text-right" style="font-size:15px; margin-top:20px;margin-left:20px">
            <button type="submit" (click)="CreateEvent()" [disabled]="AddEventForm.invalid" class="commonbtn btn btn-primary btn-lg col-lg-2 col-xl-2 col-md-2 col-sl-12 Poppins-Regular">{{'Save' | translate}}</button>
            <a class="commonbtn btn btn-primary btn-lg col-lg-2 col-xl-2 col-md-2 col-sl-12 Poppins-Regular" (click)="askForExitMessage()">{{'Cancel'| translate}}</a>
        </div>
    </div>
</form>