<!-- <p>attendee-room works!</p> -->

<div>
    <img src="../../../assets/Images/ResourceCenter.jpg" alt="">
    <div class="position-absolute top-0 start-0" style="padding: 50px;z-index: 1000;">
        <a type="button" class="btn btn-lg  Poppins-SemiBold text-white" data-toggle="modal" data-target="#addICon" style="height: 56px;width: 206px; background-color: #0C0C0D; border-color: #A0EC6D;border-width: 3px;border-radius: 8px;">
            <i class="fa fa-bars pr-3" aria-hidden="true"></i>Event Menu</a>
    </div>
</div>




<!-- Modal  -->
<div class="modal fade" id="addICon" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-black" style="margin-top: 20px;">
            <form method="Post" class="form-group " #AddIConForm="ngForm">

                <div class="text-center pageHeader">{{''|translate}}
                    <i class="fa fa-times bg-white" type="button" data-dismiss="modal" style="cursor:pointer;float:right;"></i>
                </div>
            </form>
        </div>
    </div>
</div>