<div class="bg-white">
    <div class="text-center pageHeader  list-group-item d-flex align-items-center" style="border:none;">
        <label>{{'SuperAdminCreateEvent'| translate}}</label>
    </div>
</div>

<form method="Post" class="form-group" #CreateSuperAdminEvent="ngForm">
    <div class="Poppins-Regular text-danger text-center">
        <ul class="list-style-none">

            <li *ngFor="let error of inputSuperAdminEventModel.errors">
                <p> {{error}} </p>
            </li>
        </ul>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventName">{{'ClientName' | translate}}</label>
        <div class="col-sm-10">
            <select id="clients" required #clients="ngModel" name="clients" class="form-select" [(ngModel)]="inputSuperAdminEventModel.clientId" (change)='getSlugUrl($event)'>
                <option value="">{{'SelectClient' | translate}}</option>
                <option *ngFor="let item of allClients" value="{{item.clientId}}">{{item.firstName}} {{item.lastName}}
                </option>
            </select>
            <span *ngIf="clients.invalid && clients.touched" class="error">{{'ClientNamerequired'| translate}}</span>

        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventTitle">{{'EventTitle' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'EventTitle' | translate}}" required #EventTitle="ngModel" [(ngModel)]="inputSuperAdminEventModel.eventName" name="EventTitle" value="" maxlength="120" (blur)="getEventUrl($event);">
            <span *ngIf="EventTitle.invalid && EventTitle.touched" class="error">{{'EventTitlerequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row display-none">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="UrlSlug">{{'EventURL' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" pattern="^[A-Za-z0-9]+$" placeholder="{{'EventURL' | translate}}" required #UrlSlug="ngModel" [(ngModel)]="inputSuperAdminEventModel.urlSlug" name="UrlSlug" value="" maxlength="15">
            <span class="Poppins-Regular fs-12px ml-5px">url look like :-
                {{domainUrl+"/"+clientUrlSlug+"/"+(inputSuperAdminEventModel.urlSlug?inputSuperAdminEventModel.urlSlug:'')}}
            </span><br>
            <span *ngIf="UrlSlug.invalid && UrlSlug.touched" class="error">{{'UrlSlugrequired'| translate}}</span>
        </div>
    </div>


    <!-- <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventUrl">{{'EventURL' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" (blur)='checkValidEventUrl()' placeholder="{{'EventURL' | translate}}" required #EventUrl="ngModel" [(ngModel)]="inputSuperAdminEventModel.eventUrl" name="EventUrl" value="" maxlength="200">
            <span *ngIf="EventUrl.invalid && EventUrl.touched" class="error">{{'EventUrlrequired'| translate}}</span>
        </div>
    </div> -->

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventAdmin">{{'EventAdmin' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control Poppins-Regular" placeholder="{{'EventAdmin' | translate}}" required (keyup)="searchClient(inputSuperAdminEventModel.eventAdmin)" #EventAdmin="ngModel" [(ngModel)]="inputSuperAdminEventModel.eventAdmin" name="EventAdmin"
                value="" maxlength="80">
            <div class="search-result" *ngIf="flag">
                <ul class="search-result-list">
                    <li *ngFor="let evAdmin of searchedEventAdmin ">
                        <a (click)="onselectsearchedEventAdmin(evAdmin)">{{evAdmin.firstName}} {{evAdmin.lastName}}
                            ({{evAdmin.email}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="ProjectStartDate">{{'LicenseStartDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [minDate]="projectStartMinDate" [(ngModel)]="inputSuperAdminEventModel.projectStartDate" #ProjectStartDate="ngModel" required="" [(ngModel)]="inputSuperAdminEventModel.projectStartDate" name="ProjectStartDate" (ngModelChange)="validateProjectDates()"></app-date-picker>
            </div>
            <span *ngIf="ProjectStartDate.invalid && ProjectStartDate.touched" class="error">{{'StartDaterequired'| translate}}</span>
        </div>


        <label class="col-sm-2 col-form-label Poppins-Regular" for="ProjectEndDate">{{'LicenseEndDate' | translate}}
        </label>
        <div class="col-sm-4">
            <div class="input-group bootstrap-timepicker timepicker">
                <app-date-picker [(ngModel)]="inputSuperAdminEventModel.projectEndDate" #ProjectEndDate="ngModel" required="" name="ProjectEndDate" (ngModelChange)="validateProjectDates()"> </app-date-picker>
            </div>
            <span *ngIf="ProjectEndDate.invalid && ProjectEndDate.touched" class="error">{{'EndDaterequired'| translate}}</span>
            <span *ngIf="InvalidDate" class="error">
                {{'startDateGreaterThanEndDate'| translate}}
            </span>

        </div>

    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventNumberofRooms">{{'NumberofRooms' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" pattern="\d*" class="form-control Poppins-Regular" placeholder="{{'NumberofRooms' | translate}}" required #NumberofRooms="ngModel" [(ngModel)]="inputSuperAdminEventModel.noOfRooms" name="NumberofRooms" maxlength="6" value="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            <span *ngIf="NumberofRooms.invalid && NumberofRooms.touched" class="error">{{'NumberofRoomsrequired'| translate}}</span>
        </div>
    </div>

    <!-- <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventNumberofBooths">{{'NumberofBooths' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" pattern="\d*" maxlength="3" class="form-control Poppins-Regular" placeholder="{{'NumberofBooths' | translate}}"  required #NumberofBooths="ngModel" [(ngModel)]="inputSuperAdminEventModel.noOfBooths"
                name="NumberofBooths" value="">
            <span *ngIf="NumberofBooths.invalid && NumberofBooths.touched" class="error">{{'NumberofBoothsrequired'| translate}}</span>
        </div>
    </div> -->


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventconcurrentUser">{{'NumberofconcurrentUser' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" pattern="\d*" class="form-control Poppins-Regular" maxlength="6" placeholder="{{'NumberofconcurrentUser' | translate}}" required #EventconcurrentUser="ngModel" [(ngModel)]="inputSuperAdminEventModel.noOfCuncurrentUser" name="EventconcurrentUser"
                value="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            <span *ngIf="EventconcurrentUser.invalid && EventconcurrentUser.touched" class="error">{{'NumberofconcurrentUserrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="EventBuffer">{{'Buffer'| translate}}</label>
        <div class="col-sm-10">
            <input type="text" pattern="\d*" maxlength="6" class="form-control Poppins-Regular" placeholder="{{'Buffer'| translate}}" required #Buffer="ngModel" [(ngModel)]="inputSuperAdminEventModel.buffer" name="Buffer" value="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            <span *ngIf="Buffer.invalid && Buffer.touched" class="error">{{'Bufferrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="Webcast">{{'Webcast'|translate}}</label>
        <div class="col-sm-10">
            <input type="checkbox" style="vertical-align:bottom" data-val="true" (change)="ifWebcastEnabled($event)" data-val-required="The Webcast field is required." id="WebcastEnabled" name="WebcastEnabled" value="true">
        </div>
    </div>


    <div class="mb-3 row" *ngIf="isWCEnabled">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="NumberofWebcast">{{'NumberofWebcast' | translate}}</label>
        <div class="col-sm-10" *ngIf="isWCEnabled">
            <input type="text" pattern="\d*" max="6" class="form-control Poppins-Regular" placeholder="{{'NumberofWebcast' | translate}}" required #NumberofWebcast="ngModel" [(ngModel)]="inputSuperAdminEventModel.noOfWebcast " name="Webcast" value="" style="margin-top:10px"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            <span *ngIf="NumberofWebcast.invalid && NumberofWebcast.touched" class="error">{{'NumberofWebcastrequired'| translate}}</span>
        </div>
    </div>



    <div class="mb-3 row" *ngIf="isWCEnabled">
        <label class="col-sm-2 col-form-label Poppins-Regular" for="WebcastMaxduration">{{'WebcastMaxduration' | translate}}</label>
        <div class="col-sm-10">
            <input type="text" pattern="\d*" maxlength="6" class="form-control Poppins-Regular" placeholder="{{'WebcastMaxduration' | translate}}" required #WebcastMaxduration="ngModel" [(ngModel)]="inputSuperAdminEventModel.webcastMaxDuration " name="WebcastMaxduration"
                value="" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
            <span *ngIf="WebcastMaxduration.invalid && WebcastMaxduration.touched" class="error">{{'WebcastMaxdurationrequired'| translate}}</span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label Poppins-SemiBold" for="Roomsscreenoption">{{'ViewEventas' | translate}}</label>
        <div class="col-sm-2 Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOption2DRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #2D (change)="getRoomShowOption($event,'2D')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="2D">{{'2D'|translate}}</label>
            </div>

        </div>

        <div class="col-sm-2 Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOption3DRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #3D (change)="getRoomShowOption($event,'3D')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="3D">{{'3D'|translate}}
                </label></div>
        </div>

        <div class="col-sm-2  Poppins-Regular">
            <div class="form-check form-check-inline">
                <input type="radio" value="" id="EventRoomOptionBothRadio" style="margin-left: 0px;margin-top: 10px" class="form-check-input" name="RoomShow" #Both (change)="getRoomShowOption($event,'Both')" checked="">
                <label class="form-check-label col-sm-2 Poppins-Regular" style="margin-left: 0px;margin-top: 10px" for="Both">{{'Both'|translate}}</label>
            </div>
        </div>

    </div>

    <!-- <div class="mb-3 row">
        <label class="col-sm-2  Poppins-Regular" for="UIAccentColor">{{'UIAccentColor'| translate}}</label>
        <div class="col-sm-6 ">
            <input [(colorPicker)]="inputSuperAdminEventModel.uIAccentColor" [style.background]="inputSuperAdminEventModel.uIAccentColor" />
        </div>
    </div> -->


    <!-- <div class="mb-3 row" id="ThirdPartyAnalyticsScripts">
        <button type="button" (click)="saveEvent()" [disabled]="CreateSuperAdminEvent.invalid || InvalidDate" class="btn btn-primary btn-lg col-lg-2 col-xl-2 col-md-2 col-sl-12">{{'Save' | translate}}</button>
        <div class="col-sm-9 text-muted Poppins-Regular" style="font-size:15px; margin-top:20px;margin-left:20px">
            <a class="btn-link" (click)="askForExitMessage()">{{'Cancel'| translate}}</a>
        </div>
    </div> -->

    <div class="col-sm-12 text-muted text-right Poppins-Regular" style="font-size:15px; margin-top:20px;margin-left:20px">
        <button type="button" (click)="saveEvent()" [disabled]="CreateSuperAdminEvent.invalid || InvalidDate" class="commonbtn btn btn-primary btn-lg col-lg-2 col-xl-2 col-md-2 col-sl-12 Poppins-Regular">{{'Save' | translate}}</button>
        <a class="commonbtn btn btn-primary text-white btn-lg col-lg-2 col-xl-2 col-md-2 col-sl-12 ml-20px  Poppins-Regular" (click)="askForExitMessage()">{{'Cancel'| translate}}</a>
    </div>

</form>