<div class="froneEndFooter text-center pb-20px">
    <!-- <img src="../../../../assets/Images/logo.png" height="150" width="150"> -->
    <img  src="{{eventDetails.eventLogo}}" height="150" width="150" style="margin-top: 20px;">

    <!-- <div class="text-white Poppins-Semibold fs-14px mt-20px">{{'UpcomingEventsonVirtualEvents' | translate}}
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4 float-left">

            <span class="Poppins-Bold fs-16px" style="color: #4E74BC;">20 Jan</span>

            <span class="col-sm-10 Poppins-Regular fs-14px text-white text-left">
                Bangalore Tech Expo
            </span>
        </div>
        <div class="col-sm-4  float-left">

            <span class="Poppins-Bold fs-16px" style="color: #4E74BC;">20 Jan</span>

            <span class="col-sm-10 Poppins-Regular fs-14px text-white text-left">
                Bangalore Tech Expo
            </span>
        </div>
        <div class="col-sm-4  float-left">

            <span class="Poppins-Bold fs-16px" style="color: #4E74BC;">20 Jan</span>

            <span class="col-sm-10 Poppins-Regular fs-14px text-white text-left">
                Bangalore Tech Expo
            </span>
        </div>
    </div>

    <div class="row col-sm-12 text-center">
        <a class="linkBtnOrange" [routerLink]="['/event/calendar']" routerLinkActive="router-link-active">{{'ViewCalendar' | translate}}</a>

    </div> -->


</div>