<div>
    <div class="bg-white" style="padding:20px">
        <div class="text-center pageHeader">
            <label style="margin-top:20px;">{{'MyEvents'| translate}}</label>
            <a id="btnAddUser" routerLink="/admin/events/create" *ngIf="isSuperAdmin">
                <i class="fa fa-calendar-plus-o text-primary" type="button" tooltip="{{ 'AddEvent' | translate}}" style=" -webkit-transform: scaleX(-1);  transform: scaleX(-1);"></i>
            </a>
            <!-- <a id="btnAddUser" routerLink="/events/add" *ngIf="!isSuperAdmin">
                <i class="fa fa-calendar-plus-o text-primary" type="button" tooltip="{{ 'AddEvent' | translate}}"
                    style=" -webkit-transform: scaleX(-1);  transform: scaleX(-1);"></i>
            </a> -->
        </div>
        <div class="row" style="margin:20px">
            <div class="col-xl-3 col-lg-6 col-md-12 col-sl-12 col-xs-12">
                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <div class="input-group-text"><a style="cursor:pointer" id="btnSearch"><i
                                    class="fa fa-search"></i></a> </div>
                    </div>
                    <input type="text" autofocus style="border-left: none;" class="form-control Poppins-Regular" placeholder="{{'SearchByEventNameClientName'| translate}}" name="SearchByNameEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #SearchByNameEmail="ngModel"
                        [(ngModel)]="userEvents.searchString" name="txtSearch" (change)='getSearchedList()'>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sl-12 col-xs-12  mb-3">
                <select class="form-select" id="ddlSorting" name="ddlSorting" name="SortString" (change)='getSearchedList()' #SortString="ngModel" [(ngModel)]="userEvents.clientId">
                    <option value="00000000-0000-0000-0000-000000000000">{{'AllClients'| translate}}</option>
                     <option *ngFor="let item of usersClient" value="{{item.clientId}}" >{{item.firstName}} {{item.lastName}}({{item.email}})</option>                   


                </select>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sl-12 col-xs-12  mb-3">
                <select class="form-select" id="ddlSorting" name="ddlSorting" name="SortString" (change)='getSearchedList()' #SortString="ngModel" [(ngModel)]="userEvents.sortString">
                    <option value="">{{'Sortby'| translate}}</option>
                    <option value="Name_Asc">{{'NameAsc'| translate}}</option>
                    <option value="Name_Desc">{{'NameDesc'| translate}}</option>
                    <option value="ClientName_Asc">{{'ClientName_Asc'| translate}}</option>
                    <option value="ClientName_Desc">{{'ClientName_Desc'| translate}}</option>

                    <option value="Created_Asc">{{'CreatedDateAsc'| translate}}</option>
                    <option value="Created_Desc">{{'CreatedDateDesc'| translate}}</option>
                    <option value="EventStartDate_Asc">{{'EventStartDate_Asc'| translate}}</option>
                    <option value="EventStartDate_Desc">{{'EventStartDate_Desc'| translate}}</option>
                    <option value="EventEndDate_Asc">{{'EventEndDate_Asc'| translate}}</option>
                    <option value="EventEndDate_Desc">{{'EventEndDate_Desc'| translate}}</option>


                </select>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sl-12 col-xs-12  mb-3 ">
                <select class="form-select" id="ddlFiterBy" name="FilterString" #FilterString="ngModel" (change)='getSearchedList()' [(ngModel)]="userEvents.filterString">
                    <option value="">{{'Filter'| translate}}</option>
                    <option *ngFor="let item of eventStatus" value='{{item.statusTypeId}}' translate>{{item.status}}
                    </option>
                </select>


            </div>
        </div>
    </div>

    <div class="" id="usrListItems" style="margin-top: 25px;">

        <div *ngIf='NoRecordFoundMessage' class="text-danger text-center">
            {{ 'NoRecordFound' | translate}}

        </div>
        <div *ngIf='!NoRecordFoundMessage' class="row">
            <div *ngFor='let item of outputEvents' class="col-xl-6 col-lg-6 col-md-6 col-sl-12 col-xs-12 pointer " style="cursor: pointer;">
                <div class="card mb-3" (click)=openEventDetails(item.eventId)>
                    <div class="card-body">
                        <div class="list-group-item d-flex align-items-center">
                            <div class="text-break">
                                <img src="{{item.eventLogo}}" alt="" class="img-thumbnail" style="height:auto;width:150px;max-height: 88px;" />
                                <input type="hidden" />
                                <input type="hidden" />
                            </div>
                            <div class="flex-fill ps-3 pe-3">


                                <div class="fs-14px mt-1 text-muted text-break Poppins-Regular">
                                    <span tooltip="{{item.eventName}}" placement="top" style="word-break:break-all" theme="dark">{{item.eventName | slice:0:25}}{{ item.eventName.length > 25 ? '...' : ''}}</span>
                                </div>
                                <div class="fs-12px mt-1 text-muted text-break Poppins-Regular">
                                    <b class='text-black'>{{'Client'| translate}}: </b> <span tooltip="{{item.clientName}}" placement="top" style="word-break:break-all" theme="dark">{{item.clientName | slice:0:25}}{{ item.eventName.length > 25 ? '...' : ''}}</span>
                                </div>
                                <div class="fs-12px mt-1 text-muted text-break Poppins-Regular"><b class='text-black'>{{'Starts'| translate}}:</b> {{item.eventStartDate==' - '? ' -' : (item.eventStartDate | date:'mediumDate')}} {{item.eventStartDate==' - '? '-': (item.eventStartTime | date:'mediumTime')}}
                                </div>
                                <div class="fs-12px mt-1 text-muted text-break Poppins-Regular"><b class='text-black'>{{'Ends'| translate}}:</b> {{item.eventEndDate ==' - '?' -': (item.eventEndDate | date:'mediumDate')}} {{item.eventEndDate==' - '? '-': (item.eventEndTime | date:'mediumTime')}}

                                </div>
                                <div [ngClass]="item.status=='Publish'?'text-success':item.status=='Draft'?'text-warning':'text-danger'" class="fs-12px mt-1 text-break Poppins-Regular"><b class='text-black'>{{'Status'| translate}}:</b> {{item.status | translate}}</div>
                            </div>
                            <!-- <div [ngClass]="event.enableEditRegistrationInfo?'badge badge-success':'badge badge-danger'" class="col-sm-1  col-form-label Poppins-Regular ">
                                <span>{{event.enableEditRegistrationInfo?'Yes':'No'}}</span>
                            </div> -->
                            <!-- <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="text-muted">
                                    <i  class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item Poppins-Regular" id="btnDetails"
                                        [routerLink]="['/events/details', item.eventId]">{{'Details'| translate}}</a>
                                    
                                        <a class="dropdown-item Poppins-Regular"
                                        id="btnManageRegistrationSets"  href="events/registrationset/manageregistrationset/{{item.eventId}}">{{'ManageRegistrationSets'|translate}}</a>

                                        <a class="dropdown-item Poppins-Regular" id="btnUpdate"
                                        [routerLink]="['/events/update', item.eventId]">{{'UpdateEvent'| translate}}</a>
                                    <a class="dropdown-item Poppins-Regular"
                                        id="btnActivateUser">{{'Activate'|translate}}</a>
                                    <a class="dropdown-item Poppins-Regular" id="btnCopyUser">{{'Copy'|translate}}</a>
                                    <a class="dropdown-item Poppins-Regular"
                                        id="btnCancelUser">{{'Cancel'|translate}}</a>
                                    <a class="dropdown-item Poppins-Regular"
                                        id="btnDeleteEvent" (click)=DeleteEvent(item.eventId)>{{'Delete'|translate}}</a>

                                    <a class="dropdown-item Poppins-Regular"
                                        id="btninviteUser">{{'invite'|translate}}</a>
                                    <a class="dropdown-item Poppins-Regular" id="btnShareUser">{{'Share'|translate}}</a>
                                    <a class="dropdown-item Poppins-Regular" id="btnEditDetails"
                                        >{{'Edit'| translate}}</a>
                                    <a class="dropdown-item Poppins-Regular" id="btnDeleteUser">{{'Preview'| translate}}</a>
                                </div>
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf='!NoRecordFoundMessage' class="">
    <div class="list-group-item d-flex align-items-center" style="background-color: #ebeef4;border: none;height: 50px;vertical-align: middle;">
        <button class="fa fa-step-backward" [disabled]="isFirstPage" style="margin-right: 15px;vertical-align: middle;margin-top: 2px;cursor:pointer;" id="btnPrev" (click)='getPrevPage()'></button>
        <label style="margin-right: 10px;margin-bottom: 0px;">{{'Page'| translate}}</label>
        <input id="txtPageNumber" type="number" class="form-control bg-white" style="width:50px;margin-right: 10px;border-left: none;text-align: center;" name="PageNo" min="1" max="{{totalPages}}" #PageNo="ngModel" [(ngModel)]="pageNumber" [value]='pageNumber'
            onkeypress="return isNumberKey(event)">

        <label style="margin-right: 10px;margin-bottom: 0px;"> {{'Of12'| translate}}</label>
        <span style="margin-right: 10px;margin-bottom: 0px;" id="pgSize">&nbsp;{{totalPages}}</span>
        <button class="fa fa-step-forward" style="margin: 0px 0px 0px 0px;cursor:pointer;" id="btnNext" [disabled]="isLastPage" (click)='getNextPage()'></button>
    </div>
</div>