<!-- <p>survey-analytics works!</p> -->
<div class="pageHeader bg-white " style="border:none;text-align: left;padding:10px">
 

        <label class="col-sm-10 Poppins-Regular text-small"
            style="word-break: break-all;text-align: left;">{{'SurveyAnalytics'| translate}}</label>
            <div class=" text-Medium">
              <label class="col-sm-10 text-Medium" style="text-align: left;">{{eventName}}</label>
    </div>
</div>


<div >
    <!-- <div class="card-body">
     
    </div> -->
  </div>