<div class="row" style="padding: 15px;">
    <div class="col-sm-12 d-flex">
        <div class="col-sm-2 top-0 start-0 float-left">
            <img src="../../../../assets/Images/transparent-logo.png" style="height: 100px;width: auto;" />
        </div>
        <div class="col-sm-8 row float-left  text-center mt-10px">
            <span class="col-sm-12  fs-24px mt-10px Poppins-Bold text-lightBlack" style="margin-bottom: -30px;">Calendar</span>
            <span class="calendarEventName col-sm-12 fs-14px Poppins-Regular text-lightBlack">India Online Education Conclave
                2020</span>
        </div>
        <div class="col-sm-2 float-left">
            <app-side-menu></app-side-menu>

        </div>


    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>