::ng-deep .grandParentContaniner{
    display:table;
    height:100%;
    margin: 0 auto;
    width: 400px;
    padding: 15px;
}
::ng-deep .parentContainer{
display:table-cell;
vertical-align:middle;  
}

::ng-deep  body {
   
    padding:0px;
    background: url('../../../../assets/Images/login_signup_bkg.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
