<form method="Post" class="form-group">
    <div class="text-center pageHeader">
        <i class="fa fa-times" (click)="closeModal()" type="button" data-dismiss="modal" style="cursor:pointer;float:right;"></i>
        <div class="text-center">
            <img height="100px" width="100px" src="../../../../assets/Images/transparent-logo.png" /></div>
        <div class="text-center Poppins-SemiBold  mt-31 login-div" style="margin-top: 20px;">{{'Login'|translate}}</div>
    </div>

    <div style="padding-left: 15%;padding-right: 15%;padding-top: 8%;padding-bottom: 8%;">

        <div class="input-group mb-3 mt-43px">
            <div class="input-group-prepend bg-transparent">
                <span class="input-group-text bg-transparent" id="basic-addon1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            <input type="text" class="form-control Poppins-Regular" placeholder="Email" style="text-decoration-color: #555555; height: 48px;width: 288px; font-size: 12px; border-color: #D0D0D0;">
        </div>

        <button class=" text-white shadow rounded  mb-3 mt-19 Poppins-Bold" style="text-align: center; border:none; height: 48px;width: 325px; background-color:#F06449;
           font-size: 14px;">{{'Continue'| translate}} </button>


        <div class="text-start Poppins-Regular" style="font-size:12px; margin-top: 19px; margin-bottom:0px;">
            {{'bysigningin'|translate}}
        </div>
        <div class="tnc-div text-start Poppins-Regular" style="font-size:12px; ">
            {{'TermAndCondition'|translate}}
        </div>

    </div>

</form>